.editor__phase {
    margin-left:0.75rem;
    margin-right:0.75rem;
    margin-top:0.75rem;
    min-height:3rem;
    border-radius:0.75rem;
    border:1px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editor__phase--dragover {
    background-color: #6fc8ff;
    border:1px solid #aaa;
}