.app {
  display:flex;
  flex-direction: row;
  min-height:100%;
}

.app__sidebar {
  background: #eee;
  border-right: 1px solid #aaa;
  width: 20%;
}

.app__main {
  flex: 1;
}

.app__result {
  width:20%;
  background:#eee;
  border-left:1px solid #aaa;
}
